
title {font-family: 'pt_serifbold';

}

p {

 font-family: 'Roboto', sans-serif;
}


body {
  margin: 0;
  border: dashed 1px red;
} 

.wrapper {
margin: auto;
width: 80%;
border: dashed 1px red;
}

.header {
display: flex;
justify-content: space-between;
}

.logo {
margin-right: 63%;
padding: 40px 0;
}

.menu {
display: flex;
align-items: center;
}

.menu__item {
padding: 0 13px;
border: dashed 1px red;
}

.menu__item:last-child {
padding-right: 0;
}


.logo {
padding: 40px 0;
font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}

body {
  background-image: url(C:\Users\E\Documents\программирование\проекты\Сайт для Маруси WebHero\img);
}
