
 font-family: 'pt_serifbold';
}

title {
    font-family: 'pt_serif';
}

.main-content__subtitle {

 font-family: 'Roboto', sans-serif;
}


.wrapper {
margin: auto;
width: 80%;
}


.header {
display: flex;
justify-content: space-between;
}

.menu {
display: flex;
align-items: center;
}

