

.maim-content__title {

 font-family: 'Roboto', sans-serif;
}

title {
    font-family: 'pt_serifbold';

}
p {

 font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  border: dashed 1px red;
}

.wrapper {
margin: auto;
width: 80%;
border: dashed 1px red;
}


.header {
display: flex;
justify-content: space-between;
border: dashed 1px red;
}

.menu {
display: flex;
align-items: center;
}

.menu__item {
padding: 0 13px;
border: dashed 1px red;
}

.menu__item:last-child {
padding-right: 0;
}

.menu__item:last-child {
padding-right: 0;
}

.logo {
 width: 190px;
 height: 35px;
  background-image: url(C:\Users\E\Documents\программирование\проекты\Сайт для Маруси WebHero\img)
}




